﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Bank Accounts", "Index", "BankAccounts")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Wallets", "Index", "Wallets")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Transactions", "Index", "TransactionLogs")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Currencies", "Index", "Currencies")</h2>
    </div>
</div>